.wrapper{
    border: 1px solid;
    float: left;
    height: 700px;
    width: 65%;
    text-align: center;
    padding-top: 80px;
}

.signUp{
    border: 1px solid;
   float: right;
    height: 700px;
    width: 35%;
    text-align: center;
    padding-top: 80px;
}

#fb-google{
    border: 1px solid;
    height: 500px;
    width: 90%;
}
body{
    background-color: #edf0f6;
}
    .navbar-brand{
        font-size: 25px;
        font-weight: 100px;
        color: whitesmoke;
        text-shadow: 3px 2px slategray;
    }


button{
    border-radius: 6px !important;
    float: right;
    margin: 3px 10px;
}

.navi{
    height: 50px;
    background-color: dodgerblue;
}

a{
    color: whitesmoke;
    text-shadow: 3px 2px slategray;
    font-weight: 10px;
    font-size: 23px;
    padding: 4px;

}


