#hello{
    background: dodgerblue;
}

.navbar-brand{
    font-size: 25px;
    font-weight: 100px;
    color: whitesmoke;
    text-shadow: 3px 2px slategray;
}

.login{
    border-radius: 8px;
    background-color: dodgerblue;
    color: whitesmoke;
}

#password{
    padding: 6px 12px;
    border: 1px;
    margin: 3px 3px;
    border-radius: 8px;
}

#user{
    padding: 6px 12px;
    border: 1px;
    margin: 3px 3px;
    border-radius: 8px; 
}

.nav-link{
   color:  whitesmoke;
   margin-left: 10px;
}

